.wrapper {
	width: 100%;
	max-width: 978px;
	margin: auto;
	padding: 100px 40px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
